
.sign-in-form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color: #3d454f;
  }
  
  .sign-in-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .sign-in-form label {
    text-transform: uppercase;
    color: #adadad;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .sign-in-form input {
    color: black;
    text-align: center;
      font-weight: bold;
      opacity: 0.8
  }
  
  .sign-in-form input:focus {
    opacity: .8;
  }
  
  .sign-in-form-username,
  .sign-in-form-password {
    border-radius: 30px;
    border: none;
    opacity: .1;
    transition: all ease .4s;
  }
  
  .sign-in-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
  }
  
  .sign-in-form-button:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
  }
  
  
  #heading{
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

body{
    background-color: silver !important;
    font-family: italic;
}


.polls {
  margin-bottom: 1rem;
}

.polls .polls-question {
  margin-bottom: .5rem;
}

.polls .polls-question .polls-question-label {
  color: #1779ba;
  font-weight: 500;
  margin-right: .25rem;
}

.polls .polls-submit {
  margin-top: .3rem;
}

.polls .polls-submit .button {
  margin-right: .5rem;
  text-transform: uppercase;
}


.stats-list {
  list-style-type: none;
  clear: left;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.stats-list .stats-list-positive {
  color: #3adb76;
}

.stats-list .stats-list-negative {
  color: #cc4b37;
}

.stats-list > li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #cacaca;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.stats-list > li:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.stats-list > li .stats-list-label {
  display: block;
  margin-top: 2px;
  font-size: 0.8em;
  font-weight: normal;
  color: white;
}

.sub{
  margin-top:5vh;
}


.responsive-card-table {
  border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
  background-color: transparent;
}

.responsive-card-table th {
  background-color: #e6e6e6;
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
  border: 1px solid #0a0a0a;
}

@media screen and (max-width: 640px) {
  .responsive-card-table {
    
  }
  .responsive-card-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .responsive-card-table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  .responsive-card-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-card-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}

.large-5.cell {
  height:100%;
}

#delete:hover {
  text-decoration: underline;
  color: red;
}

.polls-question {
  color:white;
}

