
.sign-in-form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color: #3d454f;
  }
  
  .sign-in-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .sign-in-form label {
    text-transform: uppercase;
    color: #adadad;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .sign-in-form input {
    color: black;
    text-align: center;
      font-weight: bold;
      opacity: 0.8
  }
  
  .sign-in-form input:focus {
    opacity: .8;
  }
  
  .sign-in-form-username,
  .sign-in-form-password {
    border-radius: 30px;
    border: none;
    opacity: .1;
    transition: all ease .4s;
  }
  
  .sign-in-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
  }
  
  .sign-in-form-button:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
  }
  
  
  #heading{
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

body{
    background-color: silver !important;
    font-family: italic;
}


.polls {
  margin-bottom: 1rem;
}

.polls .polls-question {
  margin-bottom: .5rem;
}

.polls .polls-question .polls-question-label {
  color: #1779ba;
  font-weight: 500;
  margin-right: .25rem;
}

.polls .polls-submit {
  margin-top: .3rem;
}

.polls .polls-submit .button {
  margin-right: .5rem;
  text-transform: uppercase;
}

/* input[type = radio]{
  float: left;
} */
